<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>200365747879-ka1hhegm8ooqlqgvh9770ovque00a8uk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200365747879-ka1hhegm8ooqlqgvh9770ovque00a8uk</string>
	<key>API_KEY</key>
	<string>AIzaSyDq3jP5a60ieNDXDB2AJFDqkrkOjJE8y-g</string>
	<key>GCM_SENDER_ID</key>
	<string>200365747879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boraatess.MetaWeatherApplication</string>
	<key>PROJECT_ID</key>
	<string>meta-weather-app</string>
	<key>STORAGE_BUCKET</key>
	<string>meta-weather-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200365747879:ios:80eae51ed4d9f25ac6b582</string>
</dict>
</plist>